.toggle-control {
	display: block;
	position: relative;
	padding-left: 2em;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toggle-control input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.toggle-control input:checked ~ .control {
	background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
	left: 1.1em;
}
.toggle-control .control {
	position: absolute;
	top: 0;
	left: 0;
	height: 1em;
	width: 2em;
	border-radius: 0.5em;
	background-color: darkgray;
	-webkit-transition: background-color 0.15s ease-in;
	transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
	content: '';
	position: absolute;
	left: 0.1em;
	top: 0.1em;
	width: 0.8em;
	height: 0.8em;
	border-radius: 0.5em;
	background: white;
	-webkit-transition: left 0.15s ease-in;
	transition: left 0.15s ease-in;
}

/* Center the control */
.toggle-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}
